* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(185, 75%, 39%);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat no-repeat;
  height: 100vh;
  background-position: right 45vw bottom 50vh, left 50vw top 50vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.076),
    0 10px 10px 2px rgba(0, 0, 0, 0.086);
}

.card-top {
  position: relative;
}

.card-img img {
  position: absolute;
  top: 35%;
  left: 46%;
  border-radius: 100%;
  border: 10px solid #fff;
  margin-bottom: 3rem;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  gap: 2rem;
}

.card-bottom h3 {
  display: inline-block;
  margin: 2rem 1rem 1rem 0;
}

.card-bottom span {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
  text-align: center;
}

.card-bottom p {
  text-align: center;
  color: hsl(0, 0%, 59%);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.card-footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card-footer div p {
  font-size: 1.3rem;
}

hr {
  border: 1px solid hsl(0, 0%, 59%);
  width: 100%;
}
